@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(0, 0%, 2%);
	--title-color: hsl(0, 0%, 15%);
	--text-color: hsl(0, 0%, 0%);
	--body-color: hsl(0, 0%, 100%);
	--container-color: #b8324a;
	--card-color: hsl(0, 1%, 19%);
	
  
	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Poppins", sans-serif;
	--h2-font-size: 1.25rem;
	--small-font-size: .813rem;
  }
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: block;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background: url(../img/fondo.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}    

h1{
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: xxx-large;
    font-style: normal;
    color: #F24162;
    margin-bottom: 0px;
   }
a, button {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0;
}

.selectbox {
	width: 50%;
	margin: auto;
	position: relative;
}

.select {
	background: var(--card-color);;
	width: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #F24162;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid #F24162;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

.select i {
	font-size: 30px;
	margin-left: 30px;
	color: #F24162;
}

.titulo {
	margin-bottom: 10px;
	color: #000;
	font-weight: 600;
	font-size: 30px;
}

.descripcion {
	font-size: 18px;
	color: #434343;
}

.opciones {
	background: #F24162;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
    display: block;
	background:#F24162 ;
	border-style: none;
}

button.boton {
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    display: block;
    background: #F24162;
    border-style: none;
}



button.boton {
	padding: 30px;
}


.contenido-opcion img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}
button.boton img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}
.opciones .contenido-opcion:hover {
	background: var(--card-color);
}
button.boton:hover {
	background: var(--card-color);
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #000000;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}